extends layout

block content
	div.container
		h3 Products 
		table(class='table')
			thead
				tr
					td Name
					td Price
					td Aisle
					td Category
					td Barcode
					td ID
					td
			tbody
				each p in products
					tr
						td= p.name
						td= p.price
						td= p.aisle
						td
						td
						td= p.id
						td
							a(class='btn btn-default', href='/products/#{p.id}', role='button') Edit
